{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<!-- Twitter/X Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with $featured_image }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ else }}
{{ with .Site.Params.site_logo }}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end }}
{{ end }}
{{ with .Site.Params.author }}<meta name="twitter:creator" content="{{ . }}" />{{ end }}
<meta name="twitter:site" content="{{ .Site.Title }}" />