{{/* Enhanced Social Media Meta Tags */}}
{{/* This partial adds additional meta tags for better social media sharing */}}

{{/* Get featured image for social media */}}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{/* Additional OpenGraph meta tags */}}
{{ with $featured_image }}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image:alt" content="{{ $.Title }}" />
{{ end }}

{{/* Additional Twitter Card meta tags */}}
<meta name="twitter:card" content="{{ with $featured_image }}summary_large_image{{ else }}summary{{ end }}" />
{{ with site.Params.social.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
{{ end }}
{{ with $featured_image }}
<meta name="twitter:image:alt" content="{{ $.Title }}" />
{{ end }}

{{/* Facebook meta tags */}}
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ .Site.Language.Lang }}" />

{{/* Optional article meta tags for blog posts */}}
{{ if eq .Section "post" }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
{{ with .Lastmod }}
<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />
{{ end }}
{{ with .Site.Params.author }}
<meta property="article:author" content="{{ . }}" />
{{ end }}
{{ with .Params.tags }}
  {{ range . }}
  <meta property="article:tag" content="{{ . }}" />
  {{ end }}
{{ end }}
{{ end }}

{{/* LinkedIn optimizations */}}
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}" />