{{ $plausibleEventClasses := "plausible-event-name=Form+Subscribe plausible-event-page={{ .Page.Permalink }}" }}
{{ $inline := .inline | default false }}
{{ $formClasses := "black-80 w-70-ns w-100 pv3 sans-serif" }}
{{ if $inline }}
  {{ $formClasses = "black-80 sans-serif flex flex-column items-center" }}
{{ end }}
{{ $labelClasses := "f6 b db mb1 mt3 sans-serif mid-gray" }}
{{ $inputClasses := "w-100 f5 pv3 ph3 bg-light-gray bn" }}
{{ if $inline }}
  {{ $inputClasses = "f5 pv2 ph2 bg-light-gray bn br0 br--left" }}
{{ end }}
{{ $buttonClasses := "db w-100 mv1 white pa3 bn hover-shadow hover-bg-black bg-animate bg-black pointer" }}
{{ if $inline }}
  {{ $buttonClasses = "white pv2 ph3 bn hover-shadow hover-bg-black bg-animate bg-black pointer br0 br--right" }}
{{ end }}

<form action="{{ .action | default "https://listmonk.amenji.io/subscription/form" }}"
      accept-charset="UTF-8"
      method="POST"
      class="{{ $formClasses }} {{ .position }}"
      role="form">

  {{ if $inline }}
    <div class="flex-auto flex" style="border-radius: 2px; overflow: hidden; width: 20rem;">
      <input type="email" name="email" id="email"
            class="{{ $inputClasses }}"
            placeholder="human@notbot.com"
            aria-labelledby="email"
            style="width: 16rem;"
            required>
      <button type="submit" class="{{ $buttonClasses }} {{ $plausibleEventClasses }}">
        {{ .buttonText | default "Subscribe" }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" fill="currentColor" aria-hidden="true">
          <!-- Font Awesome Paper Plane Icon -->
          <path d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z"/>
        </svg>
      </button>
    </div>

    <span class="f7 gray mt1">
      {{ if eq .privacyTextMinimal "true" }}
        <a href="/privacy" class="link gray dim">Privacy info</a>
      {{ else }}
        Get updates to your inbox. <a href="/privacy" class="link gray dim">Privacy info</a>.
      {{ end }}
    </span>
    {{ else }}
      <div class="form-group mb-2">
        <input type="email" name="email" id="email"
              class="{{ $inputClasses }}"
              placeholder="human@notbot.com"
              aria-labelledby="email"
              required>
      </div>

      {{ if .showName }}
      <div class="form-group mb-2">
        <input type="text" name="name" id="name"
              class="{{ $inputClasses }}"
              placeholder="John Doe">
      </div>
      {{ end }}

      <div class="form-group">
        <button type="submit"
                class="{{ $buttonClasses }} {{ $plausibleEventClasses }}">
          {{ .buttonText | default "Subscribe" }}
        </button>
      </div>

      <span class="f6 measure-narrow">
        {{ if eq .privacyTextMinimal "true" }}
          See <a href="/privacy" class="link">privacy info</a> for details.
        {{ else }}
          By signing up, you'll get emails from me about new blog posts, personal
          updates, and other things I'm working on. You can unsubscribe anytime.
          For more details, visit <a href="/privacy" class="link">privacy info</a>.
        {{ end }}
      </span>
  {{ end }}

  <div class="dn">
    <input id="ed5b9" type="checkbox" name="l" checked value="ed5b9903-412f-49e0-afd0-b3d3c15dbef9" />
    <label for="ed5b9" class="{{ $labelClasses }}">Newsletter</label>
  </div>

</form>